*{
    padding: 0;
    margin: 0;
    color: white;
    background-color: #352566;

}

*/head bereich*/

.head{
    position: fixed;
}

.logo-schrift{
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: left;
    margin-top: 20px;

}

.container{
    position: absolute;
    z-index: 1;
    color: white; 
    background-color: transparent;
    padding: 10px;
    top: 30%;
}

.container h1{
    font-family: arial black;
}

.container p{
    font-family: arial;
    font-size: 20px;

}

button{
    background-color: transparent;
    outline-color: white 3px;
    border-radius: 30px;
    width: 150px;
    font-size: large;
    font-family: arial;
 }

*/Bilder/ landing page*/

.bilder{
    position: relative;
}

img{
    margin-left:39% ;
    width: 50%;
    height: 50%;
    position: relative;
    z-index: 1;
}