*{
    padding: 0;
    margin: 0;
    color: white;
    background-color: #361859; 
    z-index: -2;



}

*/head bereich*/

.head{
    position: fixed;
}



.logo-schrift{
    background-color: transparent;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: x-large;

}



.container{
    position: absolute;
    z-index: 1;
    color: white; 
    background-color: transparent;
    padding: 10px;
    top: 30%;
}

.container h1{
    font-family: oswald
}

.container p{
    font-family: arial;
    font-size: 20px;

}

button{
    transform: translateX(275%);
    background-color: transparent;
    border: none;
    width: 150px;
    font-size: large;
    font-family: trispace;
    justify-content: center;
}

button:hover{
    border-radius: 30px;
    background-color:#F39246    ;
    color: #000000;
    transition: 0.5s;
}


*/Bilder/ landing page*/

.bilder{
    position: relative;
}

.bilder img{
    background-color: transparent;
    margin-left:39% ;
    width: 50%;
    height: 50%;
    position: relative;
    z-index: 1;
}

.row{
    position: relative;
    z-index: -1;
}






/*card-links*/
 .card {
    transform: translateY(50%);
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;

}

.card img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    transform: scale(2.0); 
    border-radius: 50%;
    max-width: 200px;
    background-color: transparent;
}

.card h1,
.card p {
    font-family: arial;
    color: #000;
    background-color: transparent;
    margin: 0; 
}









.card {
    width: 45%;
    display: inline-block;
    margin: 10px; /* Ändere den Abstand auf 10 Pixel */
}

img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    .card {
        width: 100%;
        display: block;
        margin: 5px; /* Lasse den Abstand auf 5 Pixel für Handys */
    }
}



/*black hole*/
.black-hole-overall{

}

.texte-hole h2{
    margin-top: 20%;
    text-align: center;

}

.texte-hole h1{
    margin-top: 20%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;

}

/*black hole*/
