*{
    padding: 0;
    margin: 0;
    color: white;
    background-color: #361859   ;
    z-index: -1;

}

/*head bereich*/

.head{
    position: fixed;
}

.logo-schrift{
    background-color: transparent;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: x-large;

}



.container{
    position: absolute;
    z-index: 1;
    color: white; 
    background-color: transparent;
    padding: 10px;
    top: 30%;
}

.container h1{
    font-family: oswald
}

.container p{
    font-family: arial;
    font-size: 20px;

}

button{
    background-color: transparent;
    border: none;
    border-radius: 30px;
    width: 150px;
    font-size: large;
    font-family: trispace;
    transform: translateX(275%);
    justify-content: center;
}

button:hover{
    background-color:#F39246    ;
    color: #000000;
    transition: 0.5s;
}


/*Bilder/ landing page*/

.bilder{
    position: relative;
}

img{
    margin-left:39% ;
    width: 50%;
    height: 50%;
    position: relative;
    z-index: 1;
}


/*cards*/

.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-body {
    padding: 15px;
  }
  
  .card-body p {
    font-family: arial;
    font-size: 20px;
    color: #fff;
    text-align: center;
  }

  .card-body h1{
    text-align: center;
  }