@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');





body{
    margin: 0;
    background: #0f191a 

}

/* Fügen Sie diesen CSS-Code in Ihre CSS-Datei ein */

#scrollBar {
    position: fixed;
    top: 0;
    left: 0.5%;
    width: 10px;
    height: 0;
    border-radius: 0px 0px 30px 30px;
    background: #ef5d60;
    z-index: -9999999;
}

/*Navi oben*/

#over-head{
    letter-spacing: 3px;
    color: #fff;
    font-family: Bodoni-Bold;
}

#headline, h1{
    text-align: center;
    font-family: 'Kalnia', serif;
    color: #fff;
}

#headline-second, a{
    transform: translateY(25%);
    transform: translateX(1%);
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-align: left;
    text-decoration: none;
    font-size: 15px;
}

.head-pic img{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;

}


/*tabel planets*/

table {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto; 
}

th, td {
    padding: 15px;
    text-align: center; 
    border: 1px solid #dddddd;
    color: #fff;
    background-clip: padding-box;
}

th {
    background: rgb(15, 113, 115);
}


#info-planets {
    width: 30%;
    color: rgb(255, 255, 255);
}

#info-discovered {
    width: 70%;
    color: rgb(255, 255, 255);
}



/*Themen*/

.container-themen{
    text-align: center;
}

details{
    color: #fff;
    text-align: left;
    left: 10px;
}



bild-deteils, img{
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;

}

.align-same{
    vertical-align: middle;
}

#info-themen{
    color: #fff;
    font-family: monospace;
}


/*Themen-black-hole*/

#black-hole{ 
    color: #fff;
    transform: translateX(-32%);
    font-family: 'Rethink Sans', sans-serif;
}



#black-hole-texte{
    font-family: arial;
    font-size: larger;
    color: #fff;
    transform: translateX(2%);
    font-family: arial black;
}

#black-hole-texte:hover{
    cursor: pointer
}

#deteils-hole{
    color: #fff;
    text-align: left;
    left: 10px;
}





/*stars*/

.stars{
    position: relative;
    transform: translateY(5%);
}

#stars-headline{
    color: #fff;
    transform: translateX(22%);
    font-family: 'Rethink Sans', sans-serif;



}

#stars-texte{
    font-family: arial;
    font-size: larger;
    color: #fff;
    text-align: right;
    font-family: arial black;

}

#stars-texte:hover{
    cursor: pointer
}


/*The Spiral Galaxy*/

#gaylaxy-headline, h3{ 
    color: #fff;
    transform: translateX(5%);
    font-family: 'Rethink Sans', sans-serif;
}



#galaxy-texte{
    font-family: arial;
    font-size: larger;
    color: #fff;
    transform: translateX(2%);
    font-family: arial black;
}

#galaxy-texte:hover{
    cursor: pointer
}

#deteils-galaxy{
    color: #fff;
    text-align: left;
    left: 10px;
}



/*Facts*/
#facs-headline, h4{
    color: #fff;
    font-family: arial black;
}

#answer {
    color: #fff;
    font-size: 12px;
    line-height: 1.4; 
    margin-bottom: 10px;
    text-align: justify;
    font-family: monospace;
    }





































